/* App.css */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

.app-title {
  color:rgb(14, 220, 220);
  font-size: 4rem;
  text-align: center;
}